/**
********************************
stylesheet for the application
*******************************
*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: BryantBoldAlt;
    outline: none;
  }
  
  body {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    width: 100vw;
  }
  
  /* Linkss */
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }