/**
********************************
stylesheet for the application
*******************************
*/

/* BRYANT BOLD */

* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Raleway-Medium;
  outline: none;
}

body, html {
  /* font-size: 62.5%; */
  overflow-x: hidden;
  font-family: Raleway;
  width: 100%
}

/* header */

.main-container {
  position: relative;
  height: 50%;
}
header {
  background-color: #fff;
  width: 110%;
  height: 60px;
  position: sticky;
  top: 0px;
  box-shadow: 0 2px 20px #f2f2f2;
  z-index: 1;
}

header .header-brand {
  color: #1c7f7f;
  font-size: 170%;
  font-weight: 800;
  font-family: Satisfy;
  display: block;
  text-align: center;
  padding: 10px 0;
}

header .header-brand span {
  color: #d32f2f;
}

/** Header styling ends here **/

/** style Application intro **/

.container-section {
  background: whitesmoke;
  height: 50%;
}

.welcome-area {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: lightblue;
  background-repeat: no-repeat;
  position: absolute;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  max-width: 960px;
}

h1 {
  color: black;
  flex: 1;
  text-align: center;
}

.login-area, .add-to-cart-area {
  display: flex;
  flex: 1;
  justify-content: space-around;
  max-width: 960px;
  margin: 50px auto;
  padding: 0 10px;
}

.app-intro {
  text-align: center;
  flex: 1;
  color: black;
  width: 300px;
}


.topnav > #map-out {
  padding-top:80px
}
/* .content > h1 {
  padding-bottom: 10px;
  
} */
.content > .login---button {
  padding-top: 25px;
}
.login-intro {
  padding-top: 10px;
  display: inline-block;
}

.login-intro a {
  padding-top: 10px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}

form {
  border: rgb(78, 160, 187) 1px solid;
  border-radius: 10px;
  padding: 10px;
 
}
form--size {
  border: black 1px solid;
  border-radius: 10px;
  padding: 10px;
  width: 100%
}

.body-section {
  position: relative;
  display: flex;
}

.admin {
  color: #1c7f7f;
  font-size: 20px;
  ;
  font-weight: bold;
  font-family: Satisfy;
}

/* contact styling */

.contact {
  padding: 60px 0 0 0;
}
.contact1 {
  padding: 20px 0 0 0;
}


.contact__form, .CreateAccount__form {
  padding: 0 188px;
}

.contact__headline, .contact__title {
  text-align: center;
}

.contact__headline {
  font-size: 1.6rem;
  line-height: 1.9rem;
}

.contact__title {
  font-size: 28px;
  line-height: 33px;
  padding: 16px 0 50px 0;
}

.contact__form>form, .CreateAccount__form>form {
  width: 70%;
}

.input--group {
  height: 50px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
}

.form--control {
  font-size: 14px;
  width: 100%;
  line-height: 16px;
  border-radius: 0%;
  background: transparent;
  z-index: 10;
  border: none;
  border-right: 1px solid;
}

.text__area {
  margin: 16px 0 24px 0;
}

.text__area textarea {
  height: 142px;
  border: none;
}
label {
  color: black
}

.form--control, textarea.form-control {
  color:rgba(64, 18, 117, 0.5);
  outline: none;
  padding: 0px 0 16px 0px;
  width: 100%;
}

.form--control::placeholder, textarea::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(64, 18, 117, 0.5);
  /* opacity: 1; */
  /* Firefox */
}

.form--control::placeholder, textarea:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(64, 18, 117, 0.5);
}

.form--control::placeholder, textarea::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(64, 18, 117, 0.5);
}

.p--0 {
  padding: 0;
}

.text--color--grey {
  color: #828282;
}

.text--color--white {
  color: #ffffff;
}

/* .btn {
  padding: 10px 16px !important;
  -webkit-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
  border: none;
} */

.btn--block {
  display: block;
  width: 25%;
  border: 2px;
  height: 10%;
  border-radius: 8px;
}

.bg--color--grey {
  background-color: green;
  color: #ffffff;
  cursor: pointer;
}

.bg--color--white {
  background-color: #ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.gradient {
  background: rgb(154, 202, 218);
  background-repeat: repeat;
}

.text--color--white>span {
  font-size: 20px
}

/** footer **/


footer h5 {
  margin-top: 0px;
  font-size: 20px;
  position: relative;

}

.text--center {
  text-align: center;
}

.text--center--left {
  text-align: center;
}

.text--color--white {
  color: black;
}

/**
  **********************
  Signup styles
  **********************
  **/

.CreateAccount.padding--bottom--210 {
  width: 100%;
  height: 85%;
}


.CreateAccount__title {
  font-family: Raleway-BoldItalic, sans-serif;
  font-style: regular;
  font-size: 32px;
  line-height: 38px;
}

.CreateAccount {
  padding: 100px 0;
  background: rgba(218, 211, 226, 0.5)
}

.CreateAccount__headline {
  font-family: Raleway-Light, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #9b9b9b;
  text-align: center;
  margin-bottom: 6px;
}

.CreateAccount__form {
  padding: 0 188px;
}


.CreateAccount {
  padding: 50px 0;
}

.CreateAccount__form>form .input--group {
  margin-bottom: 20px;
}

 .CreateAccountFooter {
  padding: 5px 0;
} 
.CreateAccountFooter-me {
  padding: 3.9px 0;
}
.CreateAccountFooter-me-me {
  padding: 10px 0px;
} 
.CreateAccountFooter-tag {
  padding: 64.5px 0px;
} 
.margin--top--10 {
  margin-top: 10px;
}

.RideForm {
  display: flex;
}

.bigger-button {
  width: 70px;
  cursor: pointer;
}

.margin--top--10--10 {
  margin-top: 1px;
}

.form-size {
  height: 80%;
}

.under{
  color: blueviolet;
  font-size: 15px
}



.margin--below {
  padding-top: 0px;
}

.text--primary {
  color: #6b459e;
}

/**
  ********************
  create red-flag style
  ********************
  **/

.logo--wrapper {
  height: 10px;
  width: 10px;
  display: flex;
  border: none;
  align-items: center;
}

.logo--wrapper span {
  height: 60px;
}

.dashboard--bg--grey--first {
  background-color: #f5f7fa;
}

.dashboard__header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.5);
}

.container-fluid {
  padding-right: 9rem;
  padding-left: 9rem;
}

.navbar__header {
  height: 90px;
  display: flex;
  align-items: center;
}

.navbar__header>a.navbar__brand {
  font-size: 25px;
  color: #f2f2f2;
}

.dashboard__navbar__header {
  width: 20%;
}

span.js__navbar__toggler {
  font-size: 30px;
  cursor: pointer
}

.js__navbar__toggle {
  display: none
}

.js__navbar__toggler.DashboardColor--primary {
  color: #6b459e;
  width: 50%;
  margin: 0;
}

nav .navbar__nav>li>a {
  padding: 0;
  font-size: 18px;
  color: #f2f2f2;
  font-family: Raleway-BoldItalic, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.dashboard--logo--wrapper {
  height: 60px;
  width: 60px;
  display: flex;
  border: none;
  align-items: center;
  border-radius: 8px;
}

.bg--color--primary {
  background-color: #6b459e;
  color: #ffffff;
}

.dashboard__header__bottom ul li, .dashboard__header a, .dashboard__collapse ul li {
  margin: 0;
}

.dashboard__collapse {
  width: 80%;
}

.dashboard__collapse ul li:first-child {
  margin: 0 0 0 auto;
}

.navbar-header, .navbar .navbar__nav>li {
  font-family: Raleway-BoldItalic, Verdana, Geneva, Tahoma, sans-serif;
  padding: 35px 20px;
}

/* .navbar-header, */

.navbar__nav {
  display: flex;
  list-style: none;
}

.text--primary {
  color: #0c6892;
}

.dashboard__header__bottom ul li, .dashboard__header a, .dashboard__collapse ul li {
  margin: 0;
}

.dashboard__header__bottom ul {
  padding: 0;
}

.dashboard__header__bottom ul li:first-child {
  padding: 20px 20px 20px 0;
}

.dashboard__header__bottom ul li {
  padding: 20px 20px;
}

.dashboard__header__bottom ul li a {
  color: #fff;
}

.dashboard__content {
  padding: 30px 0;
}

.redflagdetails {
  width: 100%;
  padding: 40px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-auto-flow: dense;
  grid-template-rows: 300px 300px;
  grid-gap: 30px;
  background-color: #ffffff;
  border-radius: 10px;
}

.RedflagInfo__header {
  width: 100%;
}

.RideOffers {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.RideHistory__content {
  background-color: #ffffff;
  padding: 30px 20px;
}

.RideHistory {
  width: 70%;
}

.rejected {
  color: red;
  font-size: 15px
}

.RedflagInfo__header__img img {
  height: 80px;
  border-radius: 50%;
}

.RedflagInfo {
  display: flex;
}

.Res {
  color: green;
  font-size: 13px;
}

.draft {
  color: yellow;
  font-size: 13px;
  cursor: pointer;
}

.RideHistory__title {
  padding: 0 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f5f7fa;
  background-color: #ffffff;
}

.RideHistory__content .row {
  background-color: #ebedf2;
  margin: 0;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
}

.rider__img img {
  height: 40px;
  border-radius: 50%;
}

.RideOffers {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
}

.RideOffers__content, .RideHistory__content {
  background-color: #ffffff;
  padding: 30px 20px;
}

.RideOffers {
  width: 30%;
  margin-right: 20px;
}

.map-header>h5 {
  color: #1c7f7f;
  font-family: satisfy;
}

.map-header1>img {
  padding-top: 25px; 
}

.light--shadow {
  -webkit-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
  -moz-box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
  box-shadow: 0 1px 15px 1px rgba(113, 106, 202, 0.08);
}

.createflag__header {
  width: 100%;
}

.btn--round {
  border-radius: 50px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.createflagInfo__header__img img {
  height: 80px;
  border-radius: 50%;
}

.font--regular {
  font-family: Raleway-SemiBoldItalic, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea>.textarea-form {
  width: 100%;
  padding: 20px;
  color: red
}

.RideOffers__item {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 2px solid #f5f7fa;
  padding-bottom: 10px;
}

.RideOffers__item:last-child {
  border-bottom: none;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #1c7f7f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav div {
  float: left;
  display: relative;
  color: #1c7f7f;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: none;
} 


/**
*******************
style redflag-records
*******************
**/

.metric {
  display: flex;
  height: 192px;
  align-items: center;
  align-content: center;
  background-color: #fff;
  margin-bottom: 30px;
  padding: 50px;
}
.metric--1 {
  display: flex;
  height: 100px;
  align-items: center;
  align-content: center;
  background-color: #fff;
  margin-bottom: 30px;
}

.metric, .metric>.row>.divider--half {
  padding: 0 15px;
}

.CreateRedFlag {
  margin: 0;
  text-align: center;
}

.card__user {
  width: 100%;
  text-align: center;
}

.card__user__pics {
  height: 84px;
  width: 84px;
  border: 2px solid #6b459e;
  border-radius: 50%;
}

.card__user__widget {
  margin: 0;
  text-align: center;
}

.divider--half {
  width: 50%;
}

.divider--three {
  width: calc(90% / 3);
}

.divider--three--four {
  width: calc((80% / 5) - 0.9px);
}

.vertical--center {
  display: inherit;
  align-items: center;
}

.DashboardColor--text--grey {
  color: #575962;
}

.DashboardColor--bg--primary {
  background-color: #656cc5;
  color: #ffffff;
}
.color--neater{
  color: #656cc5;
}
#files{
  display: inline
}
/* landing-page-button */

  
/* visited link */
.login--Button:visited {
  color: green;
}

/* mouse over link */
.login--Button:hover {
  color: olivedrab;
}

/* selected link */
.login--Button:active {
  color: blue;
}


/* Linkss */
a, a:hover, a:focus, a:active {
  text-decoration: none;
}



