/**
********************************
stylesheet for the application
*******************************
*/
* {
    box-sizing: border-box;
    margin: 0 auto;
    font-family: BryantBoldAlt;
    outline: none;
  }
  
  body, html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    font-family: Raleway;
    width: 100%
  }

  /* header */
  
header{
    background-color: #fff;
    width: 110%;
    height: 60px;
    position: sticky;
    top:0px;
    box-shadow: 0 2px 20px #f2f2f2;
    z-index: 1;
}

header .header-brand{
    color:#1c7f7f;
    font-size: 170%;
    font-weight:800;
    font-family: Satisfy;
    display: block;
    text-align: center;
    padding: 10px 0; 
    
}
header .header-brand span{
    color: #d32f2f;
}
/** Header styling ends here **/

/** style Application intro **/
.container-section {
   background: whitesmoke;
    height: 50%;
  }
  
  .welcome-area {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: lightblue;
    background-repeat: no-repeat;
    position: absolute;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    max-width: 960px;
   
  }
  
  h1 {
    color:black;
    flex: 1;
    text-align: center;
  }
  
  .login-area,
  .add-to-cart-area {
    display: flex;
    flex: 1;
    justify-content: space-around;
    max-width: 960px;
    margin: 50px auto;
    padding: 0 10px;
  }
  
  .app-intro {
    text-align: center;
    flex: 1;
    color: black;
    width: 300px;
  }
  
  .login-div {
    flex: 1;
  
  }
  .login-intro {
      padding-right: 1px;
      display: block;
  }
  .login-intro  a {
      padding: 10px;
      color: black;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
  }
  
  
  form {
    border: black 1px solid;
    border-radius: 10px;
    padding: 10px;
  }
.body-section {
    position: relative;
    display: flex;
    
}

/* contact styling */
.contact {
    padding: 60px 0 0 0;
   
    /* height: 82rem; */
  }
  
  .contact__form,
  .CreateAccount__form {
    padding: 0 188px;
  }
  
  .contact__headline,
  .contact__title {
    text-align: center;
  }
  
  .contact__headline {
    font-size: 1.6rem;
    line-height: 1.9rem;
  }
  
  .contact__title {
    font-size: 28px;
    line-height: 33px;
    padding: 16px 0 50px 0;
  }
  
  .contact__form>form,
  .CreateAccount__form>form {
    width: 70%;
  }
  
  .input--group {
    height: 50px;
    background-color: #ffffff;
    border-radius: 3px;
    display: flex;
  }
  
  .form--control {
    font-size: 14px;
    width: 100%;
    line-height: 16px;
    border-radius: 0%;
    background: transparent;
    z-index: 10;
    border: none;
    border-right: 1px solid;
  }
  
  .text__area {
    margin: 16px 0 24px 0;
  }
  
  .text__area textarea {
    height: 142px;
    border: none;
  }
  
  .form--control,
  textarea.form-control {
    color: rgba(64, 18, 117, 0.5);
    outline: none;
    padding: 14px 0 14px 38px;
    width: 100%;
  }
  
  .form--control::placeholder,
  textarea::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(64, 18, 117, 0.5);
    /* opacity: 1; */
    /* Firefox */
  }
  
  .form--control::placeholder,
  textarea:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(64, 18, 117, 0.5);
  }
  
  .form--control::placeholder,
  textarea::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(64, 18, 117, 0.5);
  }
  .p--0 {
    padding: 0;
  }
  
  .text--color--grey {
    color: #828282;
  }
  .text--color--white {
    color: #ffffff;
  }
  .btn {
    padding: 10px 16px !important;
    -webkit-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 35px 8px rgba(0, 0, 0, 0.25);
    border: none;
  }
  .btn--block {
    display: block;
    width: 100%;
  }
  .bg--color--grey {
    background-color: green;
    color: #ffffff;
  }
  
  .bg--color--white {
    background-color: #ffffff;
  }
  
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .gradient {
    background-image: linear-gradient(to bottom, #401779 0%, #357dc5 100%);
    background-repeat: repeat;
  }
  .text--color--white > span {
    font-size: 20px
  }

  /** footer **/

footer h5 {
  margin-top: 15px;
  font-size: 20px
}
.text--center {
    text-align: center;
  }
  .text--color--white {
    color: black;
    
  }
  /**
  **********************
  Signup styles
  **********************
  **/
  .CreateAccount.padding--bottom--210 {
    padding-bottom: 209px;
  }
  .CreateAccount__title {
    font-family: BryantBoldAlt;
    font-style: regular;
    font-size: 32px;
    line-height: 38px;
  }
  .CreateAccount {
    padding: 100px 0;
    background-color: rgba(235, 216, 235, 0.3);
  }
  .CreateAccount__headline {
    font-family: BryantBoldAlt;
    font-size: 18px;
    line-height: 25px;
    color: #9b9b9b;
    text-align: center;
    margin-bottom: 6px;
  }
  
  /* Linkss */
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }